* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Burada genel olarak uygulama icin .rem ule kullanilacak bir deger veriyoruz. Örnek 2rem x 10px = 20px elde ediyoruz */
html {

    font-size: 10px;
}

nav {
    width: 100%;
    font-family: Montserrat;
    background-color: #1f1b36;
    color: #fff;
    padding: 3rem;
    padding-bottom: 2rem;
    position: fixed;
    z-index: 500;
}

#logo-box {
    float: left;
    padding-top: 0.5rem;
}

body {
    font-family: "Latto" sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-family: Montserrat;

}

p {
    font-family: Montserrat;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.btn-large {
    font-size: 2rem;
    padding: 2.2rem 1.6rem;

}

.btn {
    margin-top: 2rem;
    font-weight: 400px;
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: all 0.4s;
}

.btn-social {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    font-size: 2rem;
    line-height: 2rem;

}

.btn-outline {
    color: #fff;
    border-color: #fff;
    background-color: transparent;
}

.btn-outline:hover {
    opacity: 0.7;
    background-color: #fff;
    color: #1f1b36;
}

.btn-primary {
    background-color: #8395f9;
    border-color: #1f1b36;
    padding: 1.2rem 1rem;
    color: #1f1b36;
}

.btn-primary:hover {
    color: #fff;
}


.img-fluid {
    max-width: 256px;
    height: auto;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}


.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}



.text-uppercase {
    text-transform: uppercase;
}


#logo-box .logo {
    color: #fff;
    font-weight: 700;
    font-size: 2.8rem;
}


#nav-links {
    float: right;
}

#nav-links .nav-item {
    float: left;
    margin: 0.5rem;
}

#nav-links .nav-link {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    display: block;
    padding: 1.6rem;
    letter-spacing: 0.1rem;
    transition: color 0.4s;
}

#nav-links .nav-link:hover {
    color: #8395f9;
}

header {
    background-color: #8395f9;
    height: 700px;
    padding-top: calc(106px + 7rem);
    text-align: center;
}

header h1 {
    color: #fff;
    font-size: 4rem;
}

header h2 {
    color: #fff;
    font-size: 2.4rem;
    font-family: "Lato";
    font-weight: 300;
}

hr.star-light {
    border-color: #b8bdf2;
}

hr.star-dark {
    border-color: #8395f9;
}

.star-light,
.star-dark {
    border: none;
    border-top: 0.4rem solid;
    max-width: 25rem;
    border-radius: 10px;
    margin: 2.5rem auto;
    overflow: visible;
    height: 0;
}


.star-light::after,
.star-dark::after {
    content: "\2605";
    color: #fff;
    font-weight: 900;
    font-size: 3.2rem;
    position: relative;
    top: -28px;
    overflow: visible;
    background-color: #8395f9;
    padding: 0 8px;
}

.star-dark::after {
    background-color: #1f1b36;
    color: #8395f9;
}

/* Portfolio */

#portfolio {
    height: auto;
    padding-top: 10rem;
    padding-bottom: 10rem;
    text-align: center;
    background-color: #1f1b36;
}

#portfolio h2 {
    font-size: 4.8rem;
    color: #8395f9;
}

.img-fluid-p {
    max-width: 100%;
    height: auto;


}

.col {
    float: left;
    width: 33.333%;
    padding: 10px;

}

.portfolio-item {
    position: relative;

}

.portfolio-item img {
    display: block;
    border-radius: 20px;
}

.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #8395f9;
    opacity: 0;
    transition: opacity 0.4s;
    border-radius: 20px;


}

.img-overlay .icon {
    color: #fff;
    font-size: 8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.portfolio-item:hover .img-overlay {
    opacity: 0.7;
    border-radius: 20px;
}


#about {
    height: auto;
    padding-top: 10rem;
    padding-bottom: 10rem;
    text-align: center;
    background-color: #8395f9;
    color: #fff;
}

#about h2 {
    font-size: 4.8rem;
}

#about-text {
    text-align: left;
}

#about-text .left {
    float: left;
    width: 50%;
    padding-right: 2rem;
    padding-left: 23rem;
}

#about-text .right {
    float: right;
    width: 50%;
    padding-right: 23rem;
    padding-left: 2rem;
}

#about-text .text {
    font-size: 2rem;
}

#contact {
    height: auto;
    width: auto;
    padding-top: 10rem;
    padding-bottom: 10rem;
    text-align: center;
    background-color: #fff;
    color: #fff;
}

#contact h2 {
    font-size: 4.8rem;
    color: #8395f9;
}

#contact-form {
    width: 70%;
    margin: 0 auto;
    text-align: left;
}

.form-group {
    border-bottom: 1px solid #e9ecef;
    padding-bottom: 3rem;
    margin-bottom: 4rem;

}

.form-group input,
.form-group textarea {
    border: none;
    width: 100%;
    display: block;
    font-size: 2.4rem;
}

.form-group input:focus {
    outline: 0;
}

.form-group textarea:focus {
    outline: 0;
}



footer {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #1f1b36;
    color: #fff;
    text-align: center;
}

footer h4 {
    font-size: 2.4rem;
}

footer p {
    font-size: 2rem;
    margin-top: 1rem;
}

footer li {
    display: inline-block;
    margin-right: 1rem;
}

.copyright {
    background-color: #8395f9;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    color: #fff;
    text-align: center;
    font-size: 2rem;

}