* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Burada genel olarak uygulama icin .rem ule kullanilacak bir deger veriyoruz. Örnek 2rem x 10px = 20px elde ediyoruz */
html {
    
    font-size: 10px;
}

nav {
    font-family: Montserrat;
    background-color: #384658;
    color: #fff;
    padding: 3rem;
    padding-bottom: 3rem;
}

#logo-box {
    float: left;
    padding-top: 0.5rem;
}

body {
    font-family: "Latto" sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
}

a{
    text-decoration: none;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}


.container{
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.text-uppercase {
    text-transform: uppercase;
}


#logo-box .logo {
    color: #fff;
    font-weight: 700;
    font-size: 3.2rem;
}


#nav-links {
    float: right;
}

#nav-links .nav-item {
    float: left;
    margin: 0.5rem;
}

#nav-links .nav-link {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    display: block;
}